<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="yandex-verification" content="3c069cb0e7cd4dff"/>
	<title>Pawet: {{title}}</title>
	<link rel="stylesheet" href="{{#func.relativize}}/res/css/lightbox.css{{/func.relativize}}" type="text/css" media="screen"/>
</head>
<body>
<table id="header">
	<tr>
		<td width="140px" class="infobox"><img src="{{#func.relativize}}/res/img/herb_lida.gif{{/func.relativize}}" align="left"/>Герб горада Ліды, наданы 17 верасня 1590 г.</td>
		<td style="background: no-repeat center url({{#func.relativize}}/res/img/bg_orda.jpg{{/func.relativize}}); border: 0px;"
		><img src="{{#func.relativize}}/res/img/header.png{{/func.relativize}}" height="85px"/></td>
		<td width="127px" class="infobox">Старонка № 1 горада Ліды і Лідскага павета</td>
	</tr>
</table>

<div id="menu">
	<h1 style="margin:0px 0px 3px 12px; padding:0px;">Меню:</h1>
	<hr/>
	<p style="text-align:center">
		<input type="button" class="button" value="Home" onMouseOut="setBgImg(this,'button.gif')" onMouseOver="setBgImg(this,'button_over.gif')"
			   onClick="location.href = '{{#func.relativize}}/Галоўная.html{{/func.relativize}}'"/>
		<br/>
		<input type="button" class="button" value="Library" onMouseOut="setBgImg(this,'button.gif')" onMouseOver="setBgImg(this,'button_over.gif')"
			   onClick="location.href = '{{#func.relativize}}/library/Library.html{{/func.relativize}}'"/>
		<br/>
		<input type="button" class="button" value="Memoirs" onMouseOut="setBgImg(this,'button.gif')" onMouseOver="setBgImg(this,'button_over.gif')"
			   onClick="location.href = '{{#func.relativize}}/memoirs/Memoirs.html{{/func.relativize}}'"/>
		<br/>
		<input type="button" class="button" value="Collections" onMouseOut="setBgImg(this,'button.gif')" onMouseOver="setBgImg(this,'button_over.gif')"
			   onClick="location.href = '{{#func.relativize}}/collections/Collections.html{{/func.relativize}}'"/>
		<br/>
		<input type="button" class="button" value="Genealogy" onMouseOut="setBgImg(this,'button.gif')" onMouseOver="setBgImg(this,'button_over.gif')"
			   onClick="location.href = '{{#func.relativize}}/genealogy/Genealogy.html{{/func.relativize}}'"/>
		<br/>
		<input type="button" class="button" value="Maps" onMouseOut="setBgImg(this,'button.gif')" onMouseOver="setBgImg(this,'button_over.gif')"
			   onClick="location.href = '{{#func.relativize}}/map/index.html{{/func.relativize}}'"/>
		<br/>

		<br/>
		<input type="button" class="button" value="Ziemia Lidzka" onMouseOut="setBgImg(this,'button.gif')" onMouseOver="setBgImg(this,'button_over.gif')"
			   onClick="location.href = '{{#func.relativize}}/zl/index.html{{/func.relativize}}'"/>
		<br/>
		<input type="button" class="button" value="Życie Lidzkie" onMouseOut="setBgImg(this,'button.gif')" onMouseOver="setBgImg(this,'button_over.gif')"
			   onClick="location.href = '{{#func.relativize}}/library/history/bel_history/_miscellany/tlz/Życie_Lidzkie.html{{/func.relativize}}'"/>
		<br/>

		<input type="button" class="button" value="Лидское слово" onMouseOut="setBgImg(this,'button.gif')" onMouseOver="setBgImg(this,'button_over.gif')"
			   onClick="location.href = '{{#func.relativize}}/library/history/bel_history/_miscellany/ls/Лидское_слово.html{{/func.relativize}}'"/>
		<br/>
		<input type="button" class="button" value="Наша Cлова" onMouseOut="setBgImg(this,'button.gif')" onMouseOver="setBgImg(this,'button_over.gif')"
			   onClick="location.href = '{{#func.relativize}}/ns/Наша_Cлова.html{{/func.relativize}}'"/>

		<br/>
		<input type="button" class="button" value="ЛідскіЛетапісец" onMouseOut="setBgImg(this,'button.gif')" onMouseOver="setBgImg(this,'button_over.gif')"
			   onClick="location.href = '{{#func.relativize}}/library/history/bel_history/_miscellany/l/Лідскі_летапісец.html{{/func.relativize}}'"/>
		<br/>
		<input type="button" class="button" value="Маладосць" onMouseOut="setBgImg(this,'button.gif')" onMouseOver="setBgImg(this,'button_over.gif')"
			   onClick="location.href = '{{#func.relativize}}/ml/Маладосць.html{{/func.relativize}}'"/>
	</p>
	<hr/>

	<form action="http://www.google.com/cse" id="cse-search-box">
		<div class="center">
			<input type="hidden" name="cx" value="007753304390504371593:ysojz26zh70"/>
			<input type="hidden" name="ie" value="UTF-8"/>
			<input type="text" name="q" size="16"/>
			<button type="submit" style="background-color: #E1A311; border:0px;vertical-align: middle;"><img src="{{#func.relativize}}/res/img/lupe.png{{/func.relativize}}"/></button>
		</div>
	</form>

	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
	<script type="text/javascript">google.load("elements", "1", {packages: "transliteration"});</script>
	<script type="text/javascript" src="http://www.google.com/coop/cse/t13n?form=cse-search-box&t13n_langs=en"></script>
	<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&lang=en"></script>

	<hr/>

	<p align="center">


		<!-- Yandex.Metrika informer -->
		<a href="https://metrika.yandex.ru/stat/?id=44217249&amp;from=informer"
		   target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/44217249/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
											   style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика"
											   title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)"/></a>
		<!-- /Yandex.Metrika informer -->

		<!-- Yandex.Metrika counter -->
		<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter44217249 = new Ya.Metrika({
                    id:44217249,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
		</script> <!-- /Yandex.Metrika counter --> </p>
</div>

<div class="{{#category}}content{{/category}}{{^category}}contentRoot{{/category}}"><a name="top"></a>
	<div style="clear: both; text-align:left; margin-bottom:20px;">
		{{#category}}<a href="{{#func.relativize}}{{{parent.url}}}{{/func.relativize}}">Галоўная: {{parent.title}}</a>{{/category}}
	</div>
	<h1>{{{title}}}
		{{#otherLangArticle}}
			<a href="{{#func.relativize}}{{{url}}}{{/func.relativize}}" title="{{title}}"> <img src="{{#func.relativize}}/res/img/flag_{{{lang}}}.png{{/func.relativize}}" alt="{{title}}" border="1"/> </a>
		{{/otherLangArticle}}
	</h1>
	{{#category}}
		<div style="text-align:right;">
			<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
			<script src="//yastatic.net/share2/share.js"></script>
			<div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,twitter,lj,telegram"></div>
		</div>
		<br/>
	{{/category}}
	<div style="text-align:right;">
		{{#author}}
			Аўтар: <i>{{{author}}}</i>,
			<br/>
		{{/author}}
		{{#date}}
			Дадана: <i>{{date}}</i>,
			<br/>
		{{/date}}
		{{#source}}
			Крыніца: <i>{{{source}}}</i>.
			<br/>
		{{/source}}
		{{#file}}
			<p><a href="{{#func.relativize}}/files/{{{file}}}{{/func.relativize}}">Спампаваць
				<img border="0" src="{{#func.relativize}}/res/img/ext_{{{fileExt}}}.png{{/func.relativize}}" width="32px" height="32px" style="vertical-align:middle"/>
			</a></p>
		{{/file}}
	</div>
	<br/>
	<br/>
	<br/>
	<div id="{{type}}">{{{.}}}</div>
	{{#category}}
		<div style="clear: both;">&nbsp;</div>
		<ul class="menu">
			{{#children}}
				{{^title}}<p></p>{{/title}}
				{{#title}}
					<li><a href="{{#func.relativize}}{{{url}}}{{/func.relativize}}">{{title}}</a></li>
				{{/title}}
			{{/children}}
		</ul>
	{{/category}}
	<div style="clear: both; text-align:right; margin-top:10px;">
		<a href="#top">Top</a>
	</div>
</div>
{{^category}}
	<div id="info">

		<hr/>
		<br/>
		<b>Сябры:</b>
		<p>


			<a rel="nofollow" href="http://gerasimowich.narod.ru/" target="_blank">
				<img src="http://gerasimowich.narod.ru/sergio.gif" alt="Сергей Герасимович, песни, стихи, MP3" width="88px" height="31px" border="1px"/>
			</a>

			<a href="http://www.gaiba.narod.ru" target="_blank">
				<img src="http://gaiba.narod.ru/nav-baner4.gif" width="88" height="31" alt="Гiсторыя Навагрудка, навiны" border="0"/>
			</a>

			<a href="http://jivebelarus.net/" title="Жыве Беларусь - гісторыя, мова і культура беларусаў">
				<img src="http://jivebelarus.net/files/Image/guzik.gif" alt="Бібліятэка гістарычных артыкулаў" width="88" height="31" border="0"/>
			</a>

			<a href="http://genealogia.lt">
				<img src="http://genealogia.lt/images/button.gif" width="88px" height="31px" border="0"/>
			</a>


		</p>


		<hr/>

		<p><a href="https://t.me/joinchat/AAAAAEbwzUhY5bZTUvYvxA" rel="publisher">Telegram-channel <br/> «PAWET»</a></p>

		<p class="infobox">Сайт прысвечаны Беларускай гісторыі і культуры<br/>Дзякуй за наведванне! Прыходзьце часцей!</p>
		<br/>
		***
	</div>

{{/category}}
<div class="{{#category}}content{{/category}}{{^category}}contentRoot{{/category}}" style="font-size:8px;text-align:center;">
	[<a href="{{#func.relativize}}/Галоўная.html{{/func.relativize}}">Home</a>]
	[<a href="{{#func.relativize}}/map/index.html{{/func.relativize}}">Maps</a>]
	[<a href="{{#func.relativize}}/collections/Collections.html{{/func.relativize}}">Collections</a>]
	[<a href="{{#func.relativize}}/memoirs/Memoirs.html{{/func.relativize}}">Memoirs</a>]
	[<a href="{{#func.relativize}}/genealogy/Genealogy.html{{/func.relativize}}">Genealogy</a>]
	[<a href="{{#func.relativize}}/zl/archivALL.html{{/func.relativize}}">Ziemia lidzka</a>]
	[<a href="{{#func.relativize}}/ns/all/Усе_нумары.html{{/func.relativize}}">Наша Cлова</a>]
	[<a href="{{#func.relativize}}/library/history/bel_history/_miscellany/l/Лідскі_летапісец.html{{/func.relativize}}">Лідскі летапісец</a>]
</div>

<div class="{{#category}}content{{/category}}{{^category}}contentRoot{{/category}}">
	<table style="border: 0px; width: auto;">
		<tr>
			<td class="infobox" style="text-align: right; width: 140px;">
				<a href="mailto:lidad_99@yahoo.com">Web-master: Leon</a><br/>
				&copy; Pawet 1999-2009<br/>
				PaWetCMS&reg; by NOX
			</td>
			<td class="infobox" style="vertical-align: middle;">&nbsp;
				<a href="{{#func.relativize}}/Галоўная.html{{/func.relativize}}" target="_blank">
					<img src="{{#func.relativize}}/res/img/banner.png{{/func.relativize}}" onMouseOut="this.src='{{#func.relativize}}/res/img/banner.png{{/func.relativize}}'"
						 onMouseOver="this.src='{{#func.relativize}}/res/img/banner_over.png{{/func.relativize}}'"
						 onClick="this.src='{{#func.relativize}}/res/img/banner_click.png{{/func.relativize}}'"
						 width="88" height="31" border="0"/>
				</a>
			</td>
		</tr>
	</table>
</div>
</body>
<style>
.infobox a{ font:9px; }
body {
	background: #E2DA9C url({{#func.relativize}}/res/img/bg.jpg{{/func.relativize}}) fixed;
	font:12px arial, helvetica, tahoma, sans-serif;
	}
hr  {
    width: 75%;
    height: 1px;
    color:#000000;
    }
h6, h5, h4, h3, h2, h1 {
	font-family: arial, helvetica, tahoma, sans-serif;
	font-weight:bold;
	}
h5, h6{
	font-size: 13px;
	margin:0px 0px 3px 0px;
	}
h4 {
	font-size: 13px;
	margin:24px 0px 3px 45px;
	}
h3 {
	font-size: 13px;
	margin:24px 0px 3px 24px;
	}
h1 {
	font-size: 15px;
	margin:20px 0px 20px 20px;
	}
h2, caption {
	font-size: 14px;
	margin:25px 0px 5px 10px;
	clear:both;
	}
a {
	color:#000000;
	font:bold 11px arial, helvetica, tahoma, sans-serif;
	text-decoration:none;
	}
a:link {color:#000000;}
a:visited {color:#3F3F3F;}
a:hover {color:#3F3F3F;}

ol, ul {clear: both;}
.contentRoot, .content {
	position:relative;
	width:auto;
    min-width:390px;
    top: 0px;
	border:1px solid #600000;
	background-color: #E2DA9C;
	margin:13px 184px 0px 188px;
	padding:5px 9px 5px 9px;
	}
.content {
	margin-right: 0px;
    border-right: 10px double #600000;
	}
.center {text-align:center;}
table, td, th {
	border: 1px solid #600000;
	text-align: center;
	font: 11px arial, helvetica, tahoma, sans-serif;
	border-collapse: collapse;
	}
	th{font-weight:bold;}
table {
	clear:both;
	width:auto;
	}
.img_left, .img_right, .img {
    border: 1px solid #600000;
    margin: 7px 10px;
	position: relative;
	}
.g_img_right, .g_img_left, .g_img {
    cursor: pointer;
    border: medium double #600000;
    margin: 7px;
	position: relative;
	}
.g_img{
    float: left;
	margin-right: 7px;
	}
.img_left, .g_img_left{
    float: left;
	margin-right: 7px;
	}
.img_right, .g_img_right {
    float: right;
	margin-left: 7px;
	}
.menu{
	list-style-type:none;
}
.button{
	background-image: url({{#func.relativize}}/res/img/button.gif{{/func.relativize}});
	background-color: #E1A311;
	border:0px;
	width:100px;
	height:26px;
	color: #600000;
	}

/* #article:first-letter{
	color: #600000;

	margin-right: 5px;
	font-size: xx-large;
	float: left;
	} */
#article{
	font:12px arial, helvetica, tahoma, sans-serif;
	text-align:justify;
	}
#article .bio{
	font:italic 11px arial, helvetica, tahoma, sans-serif;
	text-align: right;
	display:block;
	}
#article .lyric{
	font:italic 11px arial, helvetica, tahoma, sans-serif;
	text-align: left;
	margin-left:25px;
	display:block;
	}
#header {
	position:relative;
	width:100%;
    min-width: 800px;
    height:90px;
    border:1px solid #600000;
    text-align: center;
    vertical-align: middle;
    background-color: #E2DA9C;
	}
#menu {
	position:absolute;
	width:170px;
	left:9px;
	border:1px solid #600000;
	background-color: #E1A311;
	margin-top:13px;
	padding:7px;
    vertical-align: middle;
	z-index:1;
	}
body>#menu {width:152px;}
#info {
	position:absolute;
	width:170px;
	top:120px;
	right:9px;
	border:1px solid #600000;
	background-color:#E1A311;
	padding:7px;
    text-align:center;
	}
body>#info {width:148px; top:110px;}
.infobox{
  border: 0px;
  vertical-align: middle;
  font-family:Comic Sans MS;
  font-size: 11px;
}
.langbar img, .langbar select{
  cursor:pointer;
  vertical-align:middle;
}
select{ background-color: #E2DA9C;}




</style>
<script>
	function setBgImg(element, src)
	{
		element.style.backgroundImage = "url({{#func.relativize}}/res/img{{/func.relativize}}/" + src + ")";
	}




</script>
<script type="text/javascript" src="{{#func.relativize}}/res/js/lightbox.js{{/func.relativize}}"></script>
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
</html>
